[submodule "pose_transform"]
	path = pose_transform
	url = https://github.com/kaleo22/pose_transform.git

[submodule "peak_cam"]
    path = peak_cam
    url = https://github.com/kaleo22/peak_cam.git

[submodule "apriltag_ros2"]
	path = apriltag_ros2
	url = https://github.com/kaleo22/apriltag_ros2.git

